# --- UiPath Temporary & Metadata Files ---
.local/
.objects/
.screenshots/
.settings/
.storage/
.tmh/
.entities/

# --- Project Dependencies ---
.nuget/
packages/

# --- User Specific & Layout Settings ---
project.settings
*.user

# --- Backup and Runtime Logs ---
*.tmp
*.log
backup/
.logs/
main/Rezultate_Barcelona.xlsx
*.xlsx
